<nav class="navbar navbar-fixed-left ext-settings-nav">
    <div class="navbar-brand"><i class="fa fa-gear fa-fw"></i> Настройки</div>
    <ul class="sidebar-nav nav">
        <li ng-repeat="x in my.model.pages">
            <a href="{{x.location}}" ng-class="{active: x.isActive}">{{x.title}}</a>
        </li>
    </ul>
</nav>