<c-header></c-header>
<div class="ext-page-events">
    <h3>
        Встречи
        <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
            <i class="fa fa-plus-square-o"></i>
            Запланировать
        </button>
        <div class="event-date-filter pull-right">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="my.model.date" is-open="my.model.isDateOpened"
                    ng-change="my.search()" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default date-button" ng-click="my.model.isDateOpened=true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
    </h3>

    <div class="no-data" ng-if="!my.model.events.length">На эту дату не запланировано ни одно событие</div>
    <div ng-if="my.model.events.length" class="result-list">
        <div ng-repeat="x in my.model.events | orderBy:'start'" class="result-item">
            <div class="result-item-btn">
                <button class="btn btn-default" ng-click="my.editItem(x)">Просмотр</button>
            </div>
            <div class="result-item-time">
                <label>начало</label>
                <p>{{x.start | date:'dd.MM.yyyy в HH:mm'}}</p>
                <label>окончание</label>
                <p>{{x.end | date:'dd.MM.yyyy в HH:mm'}}</p>
            </div>
            <div class="description" ng-init="space = my.getSpace(x); location = my.getLocation(x);">
                <h4>
                    <span ng-if="x.title || !privateEvent">{{x.title || 'Встреча без темы'}}</span>
                    <span ng-if="!x.title && privateEvent">Приватная встреча</span>
                </h4>
                <div>
                    <span class="label label-primary" ng-if="x.status === 'scheduled'">Запланирована</span>
                    <span class="label label-success" ng-if="x.status === 'started'">Идёт</span>
                    <span class="label label-default" ng-if="x.status === 'finished'">Завершена</span>
                    <span class="label label-warning" ng-if="x.status === 'cancelled'">Отменена</span>
                </div>
                <p>
                    <span>Место проведения:</span>
                    <span>{{location.name}},</span>
                    <span class="space" uib-popover-template="'templates/events/popover/space.html'" popover-placement="auto bottom-left" popover-trigger="{outsideClick: 'outsideClick', mouseenter: 'mouseleave'}"
                        popover-popup-delay="200" popover-class="space-popover">
                        {{space.name}}
                    </span>
                </p>
                <p ng-if="location.address">
                    Адрес: {{location.address}}
                </p>
            </div>
        </div>
    </div>
</div>