<nav class="navbar navbar-fixed-top ext-top-navbar">
    <ul class="nav navbar-top-links navbar-right pull-right">
        <c-top-links-user></c-top-links-user>
    </ul>
    <div class="navbar-header">
        <a class="navbar-brand brand-default" href="/" ng-if="!my.model.company">Auro Room</a>
        <a class="navbar-brand brand-default-company" href="/c/{{my.model.companyId}}" ng-if="my.model.company && !my.model.company.logoUrl"
            title={{my.model.company.name}}>{{my.model.company.name}}</a>
        <a class="navbar-brand brand-company" href="/c/{{my.model.companyId}}" ng-if="my.model.company && my.model.company.logoUrl"
            style="background-image: url({{my.model.company.logoUrl}})" title={{my.model.company.name}}>{{my.model.company.name}}</a>
    </div>
    <ul class="nav navbar-top-links navbar-left pull-left">
        <c-top-links-company></c-top-links-company>
    </ul>
    <div class="ext-top-pages" ng-if="my.model.pages.length">
        <ul class="nav navbar-nav">
            <li ng-repeat="x in my.model.pages"><a href="{{x.location}}" ng-class="{active: x.isActive}">{{x.title}}</a></li>
        </ul>
    </div>
</nav>