<c-header></c-header>
<div class="ext-page-profile">
    <h3>Настройки вашего профиля <button class="btn btn-primary pull-right" ng-click="my.changePassword()">Сменить пароль</button></h3>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Логин:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.model.user.login" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Имя:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.model.user.fullName" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">E-mail:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.model.user.email" readonly />
            </div>
        </div>
    </div>
    <div ng-if="my.model.roles.length">
        <h3>Ваши роли</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Роль</th>
                    <th>Местоположение</th>
                    <th>Организация</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.roles">
                    <td ng-if="x.role==='admin'">Администратор</td>
                    <td ng-if="x.role==='office manager'">Офис-менеджер</td>
                    <td>{{my.getLoc(x).name}}</td>
                    <td>{{my.getOrg(x).name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>