<c-header></c-header>
<div class="ext-page-home">
    <h1>Добро пожаловать</h1>
    <p>
        AUROROOM - Решение для управления пространствами коллективного пользования Вашей компании
    </p>
    <p ng-if="my.model.showWarning">
        Для начала работы необходимо произвести первичную настройку<br />
        Обратетиесь к администратору системы
    </p>
</div>