<li class="dropdown dropdown-companies">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li ng-if="!my.model.companies.length" style="padding: 15px; text-align: center">Не задано ни одной компании</li>
        <li ng-repeat="x in my.model.companies">
            <a href="#" ng-click="my.changeCompany(x.id)">
                <i class="fa fa-address-card"></i>
                <span>{{x.name}}</span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
        </li>
        <li ng-if="my.model.showCreate && my.model.companies.length" class="divider"></li>
        <li ng-if="my.model.showCreate">
            <a class="text-center" href="#" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                <span>Создать</span>
            </a>
        </li>
    </ul>
</li>