<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>
            Пользователи
            <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                Добавить
            </button>
        </h1>
        <table class="table" ng-if="my.model.users.length">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.users">
                    <td>
                        <a href="/c/{{my.model.companyId}}/settings/users/{{x.id}}" ng-if="my.model.companyId">{{x.login}}</a>
                        <a href="/settings/users/{{x.id}}" ng-if="!my.model.companyId">{{x.login}}</a>
                    </td>
                    <td>{{x.fullName}}</td>
                    <td>{{x.email}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>