<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Логин:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.login" ng-readonly="my.item.id" ng-required="!my.item.id" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">ФИО:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.fullName" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">E-mail:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.email" required />
            </div>
        </div>
        <div class="form-group" ng-if="!my.item.id">
            <label class="control-label col-sm-3">Пароль:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.password" required autocomplete="of" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.login || !my.item.fullName || !my.item.email || (!my.item.id && !my.item.password)">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>