<div class="modal-header">
    <h3 class="modal-title">{{my.title}} <span class="label {{my.model.statusClass}}">{{my.model.statusName}}</span></h3>
</div>
<div class="modal-body">
    <div class="form-horizontal clearfix">
        <div ng-class="{'col-sm-6': !my.model.isFieldsRestricted, 'col-sm-12': my.model.isFieldsRestricted}">
            <div class="" ng-if="!my.model.isFieldsRestricted">
                <label class="control-label">Тема</label>
                <input type="text" class="form-control" ng-model="my.item.title" required placeholder="Тема встречи" ng-readonly="my.model.isReadOnly"
                />
            </div>
            <div class="" style="height: 60px; padding: 20px 0 0 10px">
                <label class="material-switch" ng-if="!my.model.isReadOnly && my.model.isPrivateEventEditable">
                    <input type="checkbox" ng-model="my.item.privateEvent" /><i class="label-danger"></i>
                </label>
                <span style="padding-left: 10px" ng-if="!my.item.privateEvent">Информация по встрече видна всем</span>
                <span style="padding-left: 10px" ng-if="my.item.privateEvent">Приватная встреча: отображается только время</span>
            </div>
            <div class="">
                <label class="control-label">Начало</label>
                <div class="event-tz pull-right" ng-if="my.model.location" uib-tooltip="{{my.model.location.timezoneId}} {{my.model.locationTimezoneAbbr}} {{my.model.locationTimezoneOffset}}">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>{{my.model.locationTimezoneAbbr || my.model.locationTimezoneOffset}}</span>
                </div>
                <div class="clearfix">
                    <div style="float: left; width: 70%">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="my.model.dateFrom" is-open="my.model.isDateFromOpened"
                                ng-change="my.onDateFromChange()" ng-readonly="my.model.isReadOnly || (!!my.item.status && my.item.status !== 'scheduled')">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default date-button" ng-click="my.model.isDateFromOpened=true" ng-disabled="my.model.isReadOnly || (!!my.item.status && my.item.status !== 'scheduled')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div style="float:right; width: 25%" uib-dropdown on-toggle="my.setTimes(open, my.model.dateFrom, true)">
                        <input type="text" class="form-control" ng-model="my.model.timeFrom" placeholder="ЧЧ:ММ" uib-dropdown-toggle to-time ng-change="my.onTimeFromChange()"
                            ng-readonly="my.model.isReadOnly || (!!my.item.status && my.item.status !== 'scheduled')" />
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-if="!my.model.isReadOnly && (!my.item.status || my.item.status === 'scheduled')"
                            style="max-height: 200px; overflow-y: auto">
                            <li ng-repeat="x in my.model.times" scroll-to="x.scrollTo">
                                <a href ng-click="my.model.timeFrom = x.value">{{x.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <label class="control-label">Окончание</label>
                <div class="clearfix">
                    <div style="float: left; width: 70%">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="my.model.dateTo" is-open="my.model.isDateToOpened"
                                ng-readonly="my.model.isReadOnly" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default date-button" ng-click="my.model.isDateToOpened=true" ng-disabled="my.model.isReadOnly">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div style="float:right; width: 25%" uib-dropdown on-toggle="my.setTimes(open, my.model.dateTo)">
                        <input type="text" class="form-control" ng-model="my.model.timeTo" placeholder="ЧЧ:ММ" uib-dropdown-toggle to-time ng-readonly="my.model.isReadOnly"
                        />
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-if="!my.model.isReadOnly" style="max-height: 200px; overflow-y: auto">
                            <li ng-repeat="x in my.model.times" scroll-to="x.scrollTo">
                                <a href ng-click="my.model.timeTo = x.value">{{x.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <label class="control-label">Переговорная</label>
                <select class="form-control" ng-options="item.id as (item.name + ' (' + item.capacity + ' человек)') for item in my.spaces"
                    ng-model="my.item.spaceId" required ng-change="my.onSpaceChange()" ng-disabled="my.model.isReadOnly || my.item.id"></select>
            </div>
            <div class="alert alert-warning" ng-if="my.model.currentTimezoneOffset !== my.model.locationTimezoneOffset" style="margin-top: 5px">
                <strong>Внимание!</strong><br>
                <span>Эта переговорная находится в другом часовом поясе.</span><br>
                <span>Дата и время встречи указываются <strong>согласно часовому поясу переговорной</strong>.</span><br>
                <span>Ваш часовой пояс: {{my.model.currentTimezoneAbbr}} {{my.model.currentTimezoneOffset}}</span><br>
                <span>Часовой пояс переговорной: {{my.model.locationTimezoneAbbr}} {{my.model.locationTimezoneOffset}}</span>
            </div>
            <div class="" ng-if="!my.model.isFieldsRestricted">
                <label class="control-label">Описание</label>
                <textarea class="form-control" ng-model="my.item.description" rows="5" required ng-readonly="my.model.isReadOnly"></textarea>
            </div>
            <div class="">
                <label class="control-label">Приветствие</label>
                <textarea class="form-control" ng-model="my.item.greeting" rows="2" ng-readonly="my.model.isReadOnly"></textarea>
            </div>
            <div class="btn-event-resources-cnt" ng-if="!my.model.isFieldsRestricted">
                <button class="btn btn-primary" ng-click="my.showResources()">Заказ обслуживания</button>
            </div>
        </div>
        <div class="col-sm-6" ng-if="!my.model.isFieldsRestricted">
            <div class="">
                <label class="control-label">Организатор</label>
                <input type="text" class="form-control" placeholder="Введите E-mail или имя организатора" ng-model="my.model.newOrganizerText"
                    ng-model-options="{debounce: 200}" uib-typeahead="user.displayName for user in my.getUsers($viewValue)" typeahead-wait-ms="200"
                    typeahead-loading="my.loadingOrganizer" typeahead-editable="false" typeahead-on-select="my.setOrganizer($item, $event)"
                    ng-if="!my.model.isReadOnly && !my.item.id" />
            </div>
            <div class="event-attendees">
                <div class="event-attendee">
                    <i class="fa fa-user fa-fw" ng-if="!my.item.organizerImageUrl"></i>
                    <div ng-if="my.item.organizerImageUrl" class="user-image" style="background-image: url({{my.item.organizerImageUrl}})"></div>
                    <div class="name" ng-if="my.item.organizerFullName">{{my.item.organizerFullName}}</div>
                    <div class="name" ng-if="!my.item.organizerFullName">{{my.item.organizerEmail}}</div>
                </div>
            </div>
            <div ng-if="!my.model.isReadOnly">
                <div class="" style="padding: 5px 0 0 10px">
                    <label class="cb">
                        <input type="checkbox" ng-model="my.model.organizerIsAttendee" ng-click="my.onOrganizerIsAttendeeChange(my.model.organizerIsAttendee)" />
                        <i></i>
                    </label>
                    <span style="padding-left: 5px">Участвует во встрече</span>
                </div>
            </div>
            <hr ng-if="!my.model.isReadOnly">
            <div class="">
                <label class="control-label">Участники встречи</label>
                <input type="text" class="form-control" placeholder="Введите E-mail или имя участника" ng-model="my.model.newAttendeeText"
                    ng-model-options="{debounce: 200}" uib-typeahead="user.displayName for user in my.getUsers($viewValue)" typeahead-wait-ms="200"
                    typeahead-loading="my.loadingAttendees" typeahead-editable="false" typeahead-on-select="my.addAttendee($item, $event)"
                    ng-if="!my.model.isReadOnly" />
            </div>
            <div class="event-attendees">
                <div class="no-data" ng-if="!my.model.attendees.length">Участники не указаны</div>
                <div class="event-attendee" ng-repeat="x in my.model.attendees">
                    <i class="fa fa-user fa-fw" ng-if="!x.imageUrl"></i>
                    <div ng-if="x.imageUrl" class="user-image" style="background-image: url({{x.imageUrl}})"></div>
                    <button class="pull-right" ng-click="my.removeAttendee(x)" ng-if="!my.model.isReadOnly"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <div class="name" ng-if="x.fullName">{{x.fullName}}</div>
                    <div class="name" ng-if="!x.fullName">{{x.email}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow" ng-if="my.model.isLoading">
        <div>Подождите, идёт сохранение...</div>
        <uib-progressbar class="progress-striped active" max="100" value="100" type="success"></uib-progressbar>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id && !my.model.isReadOnly" ng-disabled="my.model.isLoading">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-if="!my.model.isReadOnly" ng-disabled="my.model.isLoading || !my.model.location">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()" ng-if="!my.model.isReadOnly" ng-disabled="my.model.isLoading">Отмена</button>
    <button class="btn btn-primary" type="button" ng-click="my.cancel()" ng-if="my.model.isReadOnly" ng-disabled="my.model.isLoading">Закрыть</button>
</div>