<div class="modal-header">
    <h3 class="modal-title">Обслуживание</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal clearfix">
        <div class="event-resource-catalog">
            <div class="scroller">
                <button class="event-resource-catalog-item" ng-repeat="x in my.model.resourceCatalog track by $index" ng-click="my.addResource(x)">
                    <i ng-if="!x.imageUrl" class="no-image">Нет изображения</i>
                    <i ng-if="!!x.imageUrl" style="background-image: url({{x.imageUrl}})"></i>
                    <span>{{x.name}}</span>
                </button>
            </div>
        </div>
        <div ng-if="!my.model.resources.length" class="no-data">
            Ничего не заказано
        </div>
        <div class="event-resources" ng-if="my.model.isCatalogLoaded">
            <div class="scroller">
                <div class="event-resource-item" ng-repeat="x in my.model.resources" ng-init="imageUrl = my.getImageUrl(x.code)">
                    <button class="btn-resource-remove" ng-click="my.removeResource(x)" ng-if="x.isNew"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <i ng-if="!imageUrl" class="image no-image">Нет изображения</i>
                    <i ng-if="imageUrl" class="image" style="background-image: url({{imageUrl}})"></i>
                    <h5>{{x.name}}</h5>
                    <div class="event-resource-attributes">
                        <div class="event-resource-attribute" ng-repeat="attr in x.attributes" ng-if="attr.count || x.isNew">
                            <button class="pull-left" ng-disabled="attr.count<=0" ng-click="attr.count=attr.count-1" ng-if="x.isNew"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button class="pull-right" ng-disabled="attr.count>=9" ng-click="attr.count=attr.count+1" ng-if="x.isNew"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <div class="name" ng-class="{'none':!attr.count}">
                                <span>{{attr.name}}</span>
                                <div ng-if="attr.count > 0" class="count">x {{attr.count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-if="!my.model.isReadOnly" ng-disabled="!my.model.newCount">Заказать</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()" ng-if="!my.model.isReadOnly">Отмена</button>
    <button class="btn btn-primary" type="button" ng-click="my.cancel()" ng-if="my.model.isReadOnly">Закрыть</button>
</div>