<c-header></c-header>
<div class="ext-page-calendar">
    <h3>Расписание</h3>

    <div ui-calendar="my.model.uiConfig.calendar" ng-model="my.model.eventSources" class="scheduler-cnt"></div>
</div>