<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Код:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.id" required ng-readonly="!my.isNew" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Наименование:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="!my.isNew">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.id || !my.item.name">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>