<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>{{my.model.space.name}}</h1>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">Вместимость, человек:</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" ng-model="my.model.space.capacity" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Примечание:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="my.model.space.description" readonly></textarea>
                </div>
            </div>
            <h4>Интеграция с MS Exchange</h4>
            <div class="form-group">
                <label class="control-label col-sm-3">E-mail переговорной:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="my.model.space.exchangeIntegrationEmail" readonly />
                </div>
            </div>
        </div>

        <h3>Устройства <button class="btn btn-primary pull-right" ng-click="my.activateDevice()">Активировать новое устройство</button></h3>
        <p ng-if="!my.model.devices.length">
            К этой переговорной не привязано ни одно устройство. Введите на устройстве строку подключения и нажмите кнопку Подключиться.
            Затем нажмите кнопку "Активировать новое устройство" ниже выше
        </p>
        <table class="table" ng-if="my.model.devices.length">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Активировано</th>
                    <th>Последнее обращение</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.devices track by $index">
                    <td>{{x.name}}</td>
                    <td>{{x.created | date:'dd.MM.yyyy в HH:mm'}}</td>
                    <td>{{x.lastAccessed | date:'dd.MM.yyyy в HH:mm'}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editDevice(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Изображение переговорной</h3>
        <div class="item-image">
            <div ng-if="!!my.model.space.imageUrl">
                <img ng-src="{{my.model.space.imageUrl}}" alt="Фото переговорной" style="width: 400px;"></img>
            </div>
            <div ng-if="!my.model.space.imageUrl" class="image-placeholder">Изображение отсутствует</div>
            <div class="image-buttons">
                <button class="btn btn-primary" ng-if="!my.model.space.imageUrl" ng-click="my.imageAdd()">Добавить изображение</button>
                <button class="btn btn-primary" ng-if="my.model.space.imageUrl" ng-click="my.imageAdd()">Заменить изображение</button>
                <button class="btn btn-danger" ng-if="my.model.space.imageUrl" ng-click="my.imageRemove()">Удалить изображение</button>
            </div>
        </div>
        <h3>Настройки отображения на устройстве</h3>
        <div class="space-settings">
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.autoUnbook" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Автоматическое снятие бронирования</h4>
                    <p>Автоматически удалять бронирование, если никто не зарегистрировался в течение первых 10 минут после начала
                        встречи
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.maskMeetingTitles" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Скрыть тему встречи</h4>
                    <p>Скрывается тема встречи для приватности</p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.hideMeetingAttendees" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Скрыть участников встречи</h4>
                    <p>Скрываются участники встречи для приватности диалога</p>
                </div>
            </div>
            <div class="row" ng-if="my.model.settings.hideMeetingAttendees" style="padding-left: 30px">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.keepMeetingOrganizerVisible" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Показать организатора встречи</h4>
                    <p>Не скрывать организатора встречи при скрытии участников</p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.darkenBackgroundImage" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Полупрозрачное затемнение</h4>
                    <p>Затемняет фотографию переговорной на заднем плане</p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.useLightText" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Осветлённые шрифты</h4>
                    <p>
                        Делает шрифт темным, немного прозрачным и светлым. Подходит для темных фото переговорных или фоновых изображений
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.highVisibilityMode" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Режим хорошей видимости</h4>
                    <p>
                        В зависимости от статуса переговорной заполняет полупрозрачным фоном все окно, чтобы можно было увидеть издалека текущий
                        статус
                        <br />Свободно – зеленым, Ожидание – Желтым, Занято – Красным
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.showFrame" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Использовать вертикальные полосы</h4>
                    <p>
                        Отображать вертикальные полосы по сторонам экрана. В зависимости от статуса переговорной полосы должны отображаться соответствующим
                        цветом
                        <br />Свободно – зеленым, Ожидание – Желтым, Занято – Красным
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.showTimeline" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Временная шкала</h4>
                    <p>
                        Показать внизу экрана упрощённую диаграмму с занятыми и свободными временными периодами. Позволяют понять, когда переговорная
                        будет свободна
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.transparentTopBar" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Прозрачность верхней панели</h4>
                    <p>
                        Верхняя панель отображается прозрачной
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="pull-right" style="margin-top:7px">
                    <select class="form-control" ng-options="item.id as item.name for item in my.model.statusBarColors" ng-model="my.model.settings.statusBarColor"
                        ng-change="my.saveSettings()"></select>
                </div>
                <div class="descr">
                    <h4>Цвет панели</h4>
                    <p>
                        Панель выделена цветом
                    </p>
                </div>
            </div>
            <div class="row">
                <label class="material-switch">
                    <input type="checkbox" ng-model="my.model.settings.adminOnly" ng-click="my.saveSettings()" /><i class="label-success"></i>
                </label>
                <div class="descr">
                    <h4>Настройки только для администратора</h4>
                    <p>
                        Настройки отображения на устройстве для этой переговороной может править только администратор на этой странице<br
                        /> На устройстве настройки можно только просмотреть, но изменять запрещено
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>