@import 'modules/c-header';
@import 'modules/c-settings-nav';
@import 'modules/c-top-links';
@import 'modules/page-login';
@import 'modules/page-home';
@import 'modules/page-create-company';
@import 'modules/page-profile';
@import 'modules/page-events';
@import 'modules/page-spaces';
@import 'modules/material-switch';
@import 'modules/checkbox';
@import 'modules/item-image';
@import 'modules/space-settings';
@import 'modules/date-picker';
@import 'modules/page-settings-company';
@import 'modules/page-calendar';
@import 'modules/overflow';

button:focus { 
    outline: 0 !important; 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.date-button {
    height:34px;
}

.no-data {
    text-align: center;
    padding: 15px 5px;
    color: #bbb;
    font-size: 18px;
}

label.control-label {
    color: #666;
}