<div class="modal-header">
    <h3 class="modal-title">Выберите изображение для переговорной</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group" ng-if="!my.item.id">
            <label class="control-label col-sm-4">Выберите изображение:</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="my.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>