nav.ext-top-navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;

    .navbar-header {
        width: 200px;
        height: 50px;
        text-align: center;
        float: left;
        padding: 5px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: rgba(0,0,0,0.85);
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 40px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0;

            &.brand-default {
                background-image: url(../images/logo.png);
                text-indent: -9999px;
            }

            &.brand-company {
                text-indent: -9999px;
            }
        }
    }

    .ext-top-pages {
        a {
            color: rgba(0,0,0,0.55);
            border-bottom: 2px solid transparent;
            padding: 0 15px;
            height: 50px;
            line-height: 48px;

            &:hover, &:focus {
                border-color: #c4c4c4;
                background-color: transparent;
                color: #000;
            }

            &.active {
                border-color: #4a8bee;
                color: #000;
                font-weight: 600;
            }
        }
    }

    .navbar-toggle .icon-bar {
        background-color: #666;
    }
}
