nav.ext-settings-nav {
    width: 220px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #3d454d;

    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > li > a.active {
        text-decoration: none;
        background-color: #383f45;
        color: #fff;
    }

    .navbar-brand {
        float: none;
        color: #b9bbbe;
    }

    a {
        color: #b9bbbe;
        
        &:hover {
            color: #000;
        }
    }

    & .navbar-nav > li {
        float: none;
        width: 219px;
    }

    & + div {
        padding: 1px 15px 15px 240px;
    }

    /* On using dropdown menu (To right shift popuped) */
    & .navbar-nav > li > .dropdown-menu {
        margin-top: -50px;
        margin-left: 140px;
    }
}