.ext-top-navbar {
    a {
        color: rgba(0,0,0,0.85);
    }

    .ext-top-pages {
        .nav a.dropdown-toggle:hover,
        .nav a.dropdown-toggle:focus,
        .nav .open > a.dropdown-toggle, 
        .nav .open > a.dropdown-toggle:hover, 
        .nav .open > a.dropdown-toggle:focus {
            border-bottom: 2px solid #eeeeee;
        }

        .navbar-nav {
            float: left;
            margin: 0;
        }

        .navbar-nav > li {
            float: left;
        }
    }

    .navbar-top-links li {
        display: inline-block;
    }

    .navbar-top-links > li > a {
        padding: 0;
        min-height: 50px;
        line-height: 50px;
        min-width: 20px;
        text-align: center;
        
        &.dropdown-toggle {
            color: rgba(0,0,0,0.55);
            &:hover {
                color: #000;
            }
        }
    }

    .navbar-top-links .dropdown-menu li {
        display: block;
    }

    .navbar-top-links .dropdown-menu li:last-child {
        margin-right: 0;
    }

    .navbar-top-links .dropdown-menu li a {
        padding: 3px 20px;
        min-height: 0;
    }

    .navbar-top-links .dropdown-menu li a div {
        white-space: normal;
    }

    .navbar-top-links .dropdown-companies {
        border-right: 1px solid #e5e5e5;

        .dropdown-menu {
            width: 310px;
            min-width: 0;
        }
    }
    
    .navbar-top-links .dropdown-user {
        margin-right: 15px;

        & > a {
            padding: 0 15px;
            height: 50px;
        }

        .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
}
