/*
// Example:
<label class="cb">
    <input type="checkbox" /><i></i>
</label>
*/

label.cb {
    display: inline-block;
    position: relative; 
    z-index: 1;
    width: 18px; 
    height: 18px;
    vertical-align: middle;

    input {
        position: absolute; 
        top: -7px; 
        left: -7px; 
        z-index: 2;
        opacity: 0;
        width: 32px; 
        height: 32px;
        -webkit-appearance: none;
        cursor: pointer;
    }

    i {
        display: block;
        position: absolute; 
        top: 0; 
        left: 0; 
        z-index: 1;
        width: 18px; 
        height: 18px;
        -webkit-border-radius: 18px;
                border-radius: 18px;

        -webkit-transition: box-shadow 200ms;
    }

    input + i:before {
        content: '';
        display: block;
        position: absolute; 
        left: 0; 
        z-index: 1;
        width: 18px; 
        height: 18px;
        border: 1px solid #B6B6B6; 
        border-radius: 2px;

        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }

    input:checked + i:before {
        height: 9px;
        border: 2px solid #3F99DD;
        border-top: none;
        border-right: none;
        border-radius: 0;
        background: transparent;

        -webkit-transform: translateY(3px) rotate(-45deg);
            -moz-transform: translateY(3px) rotate(-45deg);
            -ms-transform: translateY(3px) rotate(-45deg);
            -o-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg);
    }

    input:focus + i {
        background-color: rgba(182, 182, 182, .2);
        -webkit-box-shadow: 0 0 0 8px rgba(182, 182, 182, .2);
                box-shadow: 0 0 0 8px rgba(182, 182, 182, .2);
    }

    input:checked:focus + i {
        background-color: rgba(63, 153, 221, .1);
        -webkit-box-shadow: 0 0 0 8px rgba(63, 153, 221, .1);
                box-shadow: 0 0 0 8px rgba(63, 153, 221, .1);
    }

    input:disabled + i {
        -webkit-box-shadow: none;
                box-shadow: none;
        opacity: .2;
    }

    input:checked:disabled + i {
        opacity: 1;
    }

    input:checked:disabled + i:before { 
        border-color: #ACB2B8; 
    }
}
