.uib-datepicker-popup {
    *:focus { 
        outline: 0 !important; 
    }

    .uib-button-bar {
        display: none;
    }

    button {
        border: 0;
    }

    .btn-info, .btn-info.active {
        .text-info {
            color: #fff;
            font-weight: 600;
        }
    }

    .uib-day {
        padding: 5px;

        button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0;
            text-align: center;
        }
    }

    .uib-month, .uib-year {
         padding: 5px;
    }

    thead {
        tr:last-child {
            th {
                padding: 5px;
                border-bottom: 1px solid #ddd;
                text-transform: capitalize;
                color: 666;
            }
        }
    }

    .uib-datepicker {
        .uib-title {
            font-size: 16px;
            line-height: 55px;
            text-transform: capitalize;

            &:hover {
                background: transparent;
            }
        }

        .uib-left, .uib-right {
            line-height: 55px;

            &:hover {
                background: transparent;
            }
        }
    }
}