.item-image {
    .image-placeholder {
        width: 400px;
        height: 300px;
        background: #eeeeee;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 24px;
        color: #888;
        padding-top: 120px;
        margin: 0 auto;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .image-buttons {
        margin-top: 10px;
        text-align: center;

        button {
            display: inline-block;
        }
    }
}