.overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 28px;
    color: #666;
    padding: 100px;
    padding-top: 250px;

    &:before {
        content: " ";
        display: block;
        background: #fff;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & > div {
        margin-bottom: 15px; 
    }
}