.ext-page-settings-company {
    img {
        max-width: 300px;
        max-height: 150px;
    }

    .item-image.company-logo .image-placeholder {
        width: 300px;
        height: 150px;
        padding-top: 60px;
    }

    .item-image.company-logo-full .image-placeholder {
        width: 300px;
        height: 150px;
        padding-top: 60px;
    }

    .item-image.company-logo-room-display .image-placeholder {
        width: 300px;
        height: 150px;
        padding-top: 60px;
    }
}