.ext-page-create-company {
    padding-top: 150px;

    form {
        width: 500px;
        margin: 0 auto;

        & > div {
            margin-bottom: 10px;
        }
    }

    input {
        border-radius: 3px;
        line-height: 50px;
        height: 50px;
    }

    button {
        width: 100%;
        height: 50px;        
    }
}
