.login {
    width: 300px;
    margin: -100px auto 0;

    .button-cnt {
        text-align: center;

        button {
            display: inline-block;
            width: 200px;
        }
    }
}

.login-cnt {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
    display: table;

    &::after {
        content: "";
        background: url(../images/login.jpg) no-repeat 50% 50%;
        background-size: cover;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

    & > div {
        display: table-row
    }

    & > div > div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    input {
        border: 0;
        border-bottom: 2px solid rgb(214, 192, 117);
        border-radius: 0;
        background: transparent;
        box-shadow: none;

        &:focus, &:active {
            border-color: #4a8bee;
            box-shadow: none;
        }
    }

    .logo {
        color: rgb(214, 192, 117);
        text-indent: -9999px;
        margin-bottom: 30px;
        width: 300px;
        height: 75px;
        background: url(../images/logo.png) no-repeat 50% 50%;
        background-size: cover;
    }
}
