.ext-page-events {
    padding: 20px 40px;

    .event-date-filter {
        width: 200px;
        margin-right: 10px;
    }

    .result-list {
        margin-top: 15px;

        .result-item {
            padding: 15px 0;
            min-height: 120px;
            max-width: 1200px;
            margin: 0 auto;

            & + .result-item {
                border-top: 1px dotted #e5e5e5;
            }

            &:hover {
                background: #fafafa;
            }

            .description {
                padding: 0 160px 0 160px;

                p {
                    color: #999;
                    margin: 2px 0;
                }
            }

            .result-item-time {
                float: left;
                width: 150px;
                padding: 8px 0 0 3px;
                
                label {
                    display: block;
                    font-size: 10px;
                    font-weight: normal;
                    color: #aaa;
                    margin: 0;
                    letter-spacing: 2px;
                }

                p {
                    color: #999;
                    margin: 0 0 3px 0;
                }
            }

            .result-item-btn {
                float: right;
                width: 150px;
                padding: 23px 10px 0 0;

                button {
                    width: 140px;
                    height: 44px;
                    color: #888;
                }
            }

            span.space {
                cursor: pointer;
                border-bottom: 1px dotted #999;
            }
        }
    }

    .space-popover {
        width: 400px;
        max-width: 400px;

        h4 {
            color: #333;
        }

        .space-image {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            float: left;
        }

        .image-placeholder {
            width: 150px;
            height: 150px;
            background: #eeeeee;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 12px;
            color: #888;
            padding-top: 25px;
            float: left;
        }

        .space-description {
            padding-left: 165px;
            min-height: 150px;
            color: #666;
        }
    }
}

.window-event {
    .modal-dialog {
        width: 900px;
    }
}

.window-event-small {
    .modal-dialog {
        width: 450px;
    }
}

.modal-header {
    span.label {
        font-size: 12px;
        font-weight: normal;
        margin-left: 30px;
        vertical-align: 4px;
    }
}

.event-attendees {
    .no-data {
        font-size: 26px;
        padding-top: 100px;
    }

    .event-attendee {
        position: relative;

        i.fa-user {
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #ddd;
            color: #666;
            font-size: 18px;
            line-height: 30px;
        }

        div.user-image {
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #ddd;
            color: #666;
            font-size: 18px;
            line-height: 30px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .name {
            line-height: 40px;
            height: 40px;
            padding-left: 35px;
        }

        & + .event-attendee {
            border-top: 1px dotted #ddd;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}

.event-tz {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding-top: 7px;
}

.btn-event-resources-cnt {
    text-align: center;
    margin-top: 10px;

    button {
        display: inline-block;
    }
}

.window-resources {
    .modal-dialog {
        width: 800px;

        .modal-body {
            height: 500px;
            padding: 0;
        }
    }

    .event-resource-catalog {
        width: 100%;
        height: 130px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-bottom: 1px solid #e5e5e5;

        .event-resource-catalog-item {
            display: inline-block;
            vertical-align: top;
            width: 100px;
            height: 100px;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: transparent;
            letter-spacing: 0;
            line-height: normal;
            padding: 0;
            text-align: center;
            margin: 5px;

            &:hover {
                border-color: #eee;
                box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
            }
            
            span {
                text-overflow: ellipsis;
                font-size: 10px;
                white-space: nowrap;
                font-weight: 600;
            }

            i {
                display: block;
                width: 80px;
                height: 80px;
                margin: 0 auto;

                &.no-image {
                    border: 1px solid #ccc;
                    background: #eee;
                    color: #888;
                    font-size: 10px;
                    font-style: normal;
                    padding-top: 25px;
                    white-space: normal;
                }

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .event-resources {
        width: 100%;
        height: 370px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .event-resource-item {
            display: inline-block;
            vertical-align: top;
            height: 350px;
            width: 199px;
            padding: 10px 5px;
            border-right: 1px dotted #eee;

            &:hover {
                background: #fafafa;
            }

            button.btn-resource-remove {
                background: transparent;
                border: 0;
                float: right;
            }

            i.image {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;

                &.no-image {
                    border: 1px solid #ccc;
                    background: #eee;
                    color: #888;
                    font-size: 18px;
                    font-style: normal;
                    white-space: normal;
                    text-align: center;
                    padding: 10px;
                    padding-top: 45px;
                }

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }

            h5 {
                text-align: center;
                font-size: 14px;
                font-weight: 600;
            }

            .event-resource-attributes {
                height: 155px;
                overflow-y: auto;

                .event-resource-attribute {
                    text-align: center;
                    padding: 0 15px;
                    
                    & + .event-resource-attribute {
                        margin-top: 10px;
                    }

                    button {
                        border: 0;
                        background: transparent;
                        font-size: 14px;
                        color: #f0ad4e;
                        width: 24px;
                        height: 24px;
                        margin-top: 8px;
                    }

                    div.name {
                        font-size: 16px;
                        color: #999;
                        padding: 0 24px;
                        height: 42px;

                        &.none {
                            padding-top: 10px;
                        }
                    }

                    div.count {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .no-data {
        padding: 150px 0;
        font-size: 28px;
    }
}