.ext-page-calendar {
    padding: 20px 40px;

    .calendar-cnt {
        max-width: 1200px;
        margin: 0 auto;
    }

    .fc-unthemed {
        td.fc-today {
            background: #F4F6F9;
        }

        .space-name {
            color: #2D99D3;
            font-size: 10px;
        }

        .fc-more-popover {
            .fc-body {
                max-height: 500px;
                overflow-y: auto;
            }
        }

        a.fc-event {
            cursor: pointer;
        }

        .fc-toolbar { 
            h2 {
                font-weight: 600;
                font-size: 18px;
                font-family: Helvetica, Arial, sans-serif;
                line-height: 30px;
                color: #252a2e;
                width: 100%;

                margin: 0;
                padding: 0;
            }

            button {
                height: 40px;
            }
        }

        .fc-event {
            border-color: #5bc0de;
            background-color: #ade0ef; //#fafafa;
            color: #666;
            padding: 4px;
        }

        .fc-button {
            font-size: 14px;
            font-family: Helvetica, Arial, sans-serif;
            line-height: 100%;
            background: #fd4b46;
            border: 1px solid #fd4b46;
            display: inline-block;
            color: #fff;
            font-style: normal;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 12px 24px;
            width: auto;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all ease-in-out 100ms;
            -moz-transition: all ease-in-out 100ms;
            transition: all ease-in-out 100ms;
            cursor: pointer;
            background: transparent;
            border: 1px solid #ccc;
            color: #666;
            box-shadow: none;
            text-transform: capitalize;
        }
        .fc-button:hover {
            color: #fff;
            text-decoration: none;
            background: #ee3f46;
            border: 1px solid #ee3f46;
        }
        .fc-button[disabled] {
            background: #e2e7ec;
            border: 1px solid #e2e7ec;
            color: #778896;
            cursor: default;
        }
        .fc-button[disabled]:hover {
            background: #e2e7ec;
            border: 1px solid #e2e7ec;
            color: #778896;
        }
        .fc-button[disabled]:focus {
            color: #778896;
        }
        .fc-button [class*="icon-"] {
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin: -8px 0 -4px;
        }
        .fc-button.btn_icon {
            padding-left: 13px;
            padding-right: 13px;
        }
        .fc-button:focus {
            color: #FFF;
        }
        .fc-button.small {
            padding: 6px 14px;
        }
        .fc-button:hover {
            background: transparent;
            border-color: #aaa;
            color: #666;
        }
        .fc-button:focus {
            color: #666666;
        }
        .fc-button:focus {
            border-color: #5ebeff;
            outline: none;
            box-shadow: 0 0 5px #c1eaff;
        }
        .fc-button.small {
            padding: 6px 14px;
        }
        .fc-button.fc-state-active {
            font-size: 14px;
            font-family: Helvetica, Arial, sans-serif;
            line-height: 100%;
            background: #fd4b46;
            border: 1px solid #fd4b46;
            display: inline-block;
            font-style: normal;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 12px 24px;
            width: auto;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all ease-in-out 100ms;
            -moz-transition: all ease-in-out 100ms;
            transition: all ease-in-out 100ms;
            cursor: pointer;
            background: #2D99D3;
            border: 1px solid #2D99D3;
            color: #fff;
        }
        .fc-button.fc-state-active:hover {
            color: #fff;
            text-decoration: none;
            background: #ee3f46;
            border: 1px solid #ee3f46;
        }
        .fc-button.fc-state-active[disabled] {
            background: #e2e7ec;
            border: 1px solid #e2e7ec;
            color: #778896;
            cursor: default;
        }
        .fc-button.fc-state-active[disabled]:hover {
            background: #e2e7ec;
            border: 1px solid #e2e7ec;
            color: #778896;
        }
        .fc-button.fc-state-active[disabled]:focus {
            color: #778896;
        }
        .fc-button.fc-state-active [class*="icon-"] {
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin: -8px 0 -4px;
        }
        .fc-button.fc-state-active.btn_icon {
            padding-left: 13px;
            padding-right: 13px;
        }
        .fc-button.fc-state-active:focus {
            color: #FFF;
        }
        .fc-button.fc-state-active.small {
            padding: 6px 14px;
        }
        .fc-button.fc-state-active:hover {
            background: #288abf;
            border-color: #288abf;
            color: #fff;
        }
        .fc-button.fc-state-active.small {
            padding: 6px 14px;
        }
        .fc-button-group {
            list-style: none;
            height: 32px;
        }
        .fc-button-group .btn,
        .fc-button-group button,
        .fc-button-group .btn-outline,
        .fc-button-group .btn-alt {
            border-radius: 0 !important;
        }
        .fc-button-group .btn:first-child,
        .fc-button-group button:first-child,
        .fc-button-group .btn-outline:first-child,
        .fc-button-group .btn-alt:first-child {
            border-radius: 3px 0 0 3px !important;
        }
        .fc-button-group .btn:last-child,
        .fc-button-group button:last-child,
        .fc-button-group .btn-outline:last-child,
        .fc-button-group .btn-alt:last-child {
            border-radius: 0 3px 3px 0 !important;
        }
        .fc-button-group li {
            list-style: none;
            display: block;
            margin-left: 5px;
        }
        .fc-button-group li a {
            display: inline-block;
            padding: 5px;
            font-size: 14px;
            color: #999999;
            border-radius: 3px;
            transition: all 100ms ease-in-out;
        }
        .fc-button-group li a:focus,
        .fc-button-group li a:hover {
            background: transparent;
            box-shadow: none;
            border-color: #CCC;
            color: #fd4b46;
            text-decoration: none;
        }
    }
}

.event-popover {
    .event-popover-title {
        font-size: 16px;
        font-weight: 600;
    }

    .event-popover-time {
        color: #999;
    }

    .event-popover-space {
        color: #2D99D3;
        font-size: 12px;
    }
}
