.ext-page-spaces {
    .filter {
        padding-top: 5px;
        background: #F4F6F9;
        border-bottom: 1px solid #e5e5e5;

        h2 {
            margin-left: 15px;
        }

        label {
            color: #888;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: normal;
        }
    }

    .filter-main {
        padding-top: 25px;
        margin: 0 auto;
        width: 1200px;

        *:focus {
            outline: none;
        }

        h5 {
            color: #337ab7;
            font-weight: 600;
        }

        .filter-field {
            position: relative;
            background: #fff;
            width: 240px;
            height: 55px;
            border: 1px solid #ebebeb;

            .input-group-btn {
                height: 100%;

                button {
                    border: 0;
                }
            }

            p.input-group {
                margin: 0;
                width: 100%;
            }
            
            input.filter-input, select.filter-input  {
                border: 0;
                background: transparent;
                padding: 21px 15px 9px 15px;
                font-size: 15px;
                font-weight: 600;
                line-height: 25px;
                width: 100%;
                height: 55px;
            }

            &.filter-date {
                input.filter-input {
                    width: 201px;
                    float: left;
                }

                .date-button {
                    border-radius: 0;
                    height: 53px;
                }

                .input-group-btn {
                    display: block;
                    float: left;
                }
            }

            label.fld-label {
                position: absolute;
                top: 9px;
                left: 15px;
                font-weight: 600;
            }

            & + .filter-field {
                margin-left: 0;
                border-left: 0;
            }

            &:first-of-type {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:last-of-type {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            button.btn-search {
                width: 100%;
                height: 100%;
                border-radius: 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                font-weight: 600;
            }
        }
    }

    .filter-ex {
        padding: 10px 0 15px 0;
        margin: 0 auto;
        width: 1200px;

        button.btn {
            color: #666;
            font-weight: 600;
            border: 0;
            background: transparent;

            &:hover {
                background: transparent;
            }
        }
    }

    .filter-tags {
        margin: 0 auto;
        max-width: 1200px;

        i {
            color: #666666;
        }

        .filter-tag {
            background: #F7E2FE;
            color: #8E45A5;
            padding: 4px 30px 4px 15px;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 600;
            position: relative;
            margin-left: 10px;
            display: inline-block;

            button {
                position: absolute;
                right: 0;
                top: 0;
                padding: 6px;
                height: 100%;
                width: 21px;
                margin-left: 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: 0;
                background: #F7E2FE;
                padding: 3px;

                &:hover,
                &:active {
                    background-color: #E8CBF2;
                }
            }
        }
    }

    .filter-field {
        float: left;

        & + .filter-field {
            margin-left: 10px;
        }
    }

    .filter-clear {
        a {
            line-height: 33px;
            color: #337ab7;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .result-list {
        padding: 20px 5px;

        .hr-title {
            margin-top: 0;

            &:before {
                color: #999999;
                position: relative;
                top: -9px;
                left: 0;
                background: #FFF;
                padding-right: 5px;
                font-size: 12px;
                content: attr(data-text);
            }
        }

        .live-search {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;

            input {
                background: transparent;
                padding-left: 34px;
            }

            i.fa-search {
                position: absolute;
                left: 12px;
                top: 9px;
                z-index: -1;
            }
        }

        .result-item {
            padding: 15px 0;
            height: 120px;
            max-width: 1200px;
            margin: 0 auto;

            & + .result-item {
                border-top: 1px dotted #e5e5e5;
            }

            &:hover {
                background: #fafafa;
            }

            img {
                width: 90px;
                height: auto;
            }

            .space-image {
                width: 90px;
                height: 90px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                float: left;
            }

            .image-placeholder {
                width: 90px;
                height: 90px;
                background: #eeeeee;
                border: 1px solid #ccc;
                text-align: center;
                font-size: 12px;
                color: #888;
                padding-top: 25px;
                float: left;
            }

            .description {
                padding-left: 105px;
                padding-right: 160px;
            }

            h4 {
                margin-top: 20px;
            }

            p {
                color: #aaa;

                span {
                    padding-right: 20px;
                }
            }

            .result-item-boot-btn {
                float: right;
                width: 150px;
                padding: 23px 10px 0 0;

                button {
                    width: 140px;
                    height: 44px;
                    color: #888;
                }
            }
        }

        p {
            margin-bottom: 2px;
        }
    }

    .no-data {
        font-size: 32px;
        padding-top: 80px;
    }

    hr {
        border: none;
        border-bottom: 1px solid #EEE;
        background: #FFF;
        height: 0;
    }
}