.space-settings {
    margin: 20px;

    .row {
        & + .row {
            border-top: 1px dotted #888;
        }
    }

    .descr {
        padding: 5px 70px 5px 0;
    }

    .material-switch {
        float: right;
        margin: 22px 5px 0 0;
    }

    p {
        color: #888;
        margin: 0;
    }

    h4 {
        margin: 0 0 3px 0;
        font-size: 16px;
    }
}