<div class="modal-header" ng-if="!!my.config.title">
    <h3 class="modal-title">
        <i class="{{my.config.iconClass}}" ng-if="!!my.config.iconClass"></i>
        {{my.config.title}}
    </h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div style="padding: 0 20px;">{{my.config.text}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-if="my.config.showOk" ng-click="my.ok()" style="min-width: 80px;">{{my.config.okText}}</button>
    <button class="btn btn-warning" type="button" ng-if="my.config.showCancel" ng-click="my.cancel()">{{my.config.cancelText}}</button>
</div>