<div>
    <div class="space-image" style="background-image: url({{space.imageUrl}});" ng-if="space.imageUrl"></div>
    <div class="image-placeholder" ng-if="!space.imageUrl">Нет изображения</div>
    <div class="space-description">
        <h4>{{space.name}}</h4>
        <p>
            <span>Вместимость: {{space.capacity}} чел.</span>
        </p>
        <p>
            <span>{{location.address}}</span>
        </p>
    </div>
</div>