<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>
            Переговорные
            <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                Добавить
            </button>
        </h1>
        <p ng-if="!my.model.spaces.length">
            Для вашей компании не заведено ни одной переговорной. Для того, чтобы начать пользоваться бронированием, необходимо создать
            хотя бы одну переговорную. Для добавления переговорной нажмите на кнопку "Добавить" выше
        </p>
        <table class="table" ng-if="my.model.spaces.length">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Вместимость</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.spaces">
                    <td><a href="/c/{{my.model.company.id}}/settings/spaces/{{x.id}}">{{x.name}}</a></td>
                    <td>{{x.capacity}} чел.</td>
                    <td>
                        <span class="label label-success" ng-if="!x.isDisabled">Доступна</span>
                        <span class="label label-danger" ng-if="x.isDisabled">Недоступна</span>
                    </td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>