<form ng-submit="my.ok()" autocomplete="off">
    <div class="modal-header">
        <h3 class="modal-title">Смена пароля</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-5">Введите текущий пароль:</label>
                <div class="col-sm-7">
                    <input type="password" name="pwdOld" class="form-control" ng-model="my.model.oldPassword" autofocus required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">Введите новый пароль:</label>
                <div class="col-sm-7">
                    <input type="password" name="pwdNew" class="form-control" ng-model="my.model.newPassword" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">Повторите новый пароль:</label>
                <div class="col-sm-7">
                    <input type="password" name="pwdNew2" class="form-control" ng-model="my.model.newPasswordRepeat" required />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" type="button" ng-disabled="!my.isOk()">Сменить</button>
        <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
    </div>
</form>