<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>
            Расположения
            <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                Добавить
            </button>
        </h1>
        <p ng-if="!my.model.locations.length">
            Для вашей компании не заведено ни одно место расположения. Для того, чтобы начать пользоваться бронированием переговорных,
            необходимо создать хотя бы одно место расположения. Для добавления места расположения нажмите на кнопку "Добавить"
            выше
        </p>
        <table class="table" ng-if="my.model.locations.length">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.locations">
                    <td><a href="/c/{{my.model.company.id}}/settings/locations/{{x.id}}">{{x.name}}</a></td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>