<li class="dropdown dropdown-user">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/profile"><i class="fa fa-user fa-fw"></i> Профиль</a></li>
        <li ng-if="my.showSettings && !!my.companyId"><a href="/c/{{my.companyId}}/settings"><i class="fa fa-gear fa-fw"></i> Настройки</a></li>
        <li ng-if="my.showSettings &&!my.companyId"><a href="/settings/users"><i class="fa fa-gear fa-fw"></i> Настройки</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click="my.logout()"><i class="fa fa-sign-out fa-fw"></i> Выход</a></li>
    </ul>
</li>