<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div class="ext-page-settings-company">
        <h1>
            {{my.model.company.name}}
            <button type="button" class="btn btn-primary pull-right" ng-click="my.editItem()">
                <i class="fa fa-edit"></i>
                Править
            </button>
        </h1>
        <p>Это страница с настройками для вашей компании</p>
        <!-- Брендинг -->
        <p>
            <h2>Брендинг</h2>
            <h3>Логотип</h3>
            <div class="item-image company-logo">
                <div ng-if="!!my.model.company.logoUrl">
                    <img ng-src="{{my.model.company.logoUrl}}" alt="Логотип компании" style="width: 400px;"></img>
                </div>
                <div ng-if="!my.model.company.logoUrl" class="image-placeholder">Изображение отсутствует</div>
                <div class="image-buttons">
                    <button class="btn btn-primary" ng-if="!my.model.company.logoUrl" ng-click="my.logoAdd()">Добавить изображение</button>
                    <button class="btn btn-primary" ng-if="my.model.company.logoUrl" ng-click="my.logoAdd()">Заменить изображение</button>
                    <button class="btn btn-danger" ng-if="my.model.company.logoUrl" ng-click="my.logoRemove()">Удалить изображение</button>
                </div>
            </div>
            <h3>Логотип для дисплея управления переговорной</h3>
            <div class="item-image company-logo-room-display">
                <div ng-if="!!my.model.company.roomDisplayLogoUrl">
                    <img ng-src="{{my.model.company.roomDisplayLogoUrl}}" alt="Логотип компании" style="width: 400px;"></img>
                </div>
                <div ng-if="!my.model.company.roomDisplayLogoUrl" class="image-placeholder">Изображение отсутствует</div>
                <div class="image-buttons">
                    <button class="btn btn-primary" ng-if="!my.model.company.roomDisplayLogoUrl" ng-click="my.roomDisplayLogoAdd()">Добавить изображение</button>
                    <button class="btn btn-primary" ng-if="my.model.company.roomDisplayLogoUrl" ng-click="my.roomDisplayLogoAdd()">Заменить изображение</button>
                    <button class="btn btn-danger" ng-if="my.model.company.roomDisplayLogoUrl" ng-click="my.roomDisplayLogoRemove()">Удалить изображение</button>
                </div>
            </div>
        </p>
        <!-- Места расположения -->
        <p>
            <h2>Места расположения</h2>
            <p ng-if="!my.model.locations.length" class="alert alert-warning">
                <strong>Обратите внимание!</strong> Для вашей компании не заведено ни одно место расположения
            </p>
            <p ng-if="!my.model.locations.length">
                Для того, чтобы начать пользоваться бронированием переговорок, необходимо создать хотя бы одно место расположения. Нажмите
                на кнопку ниже и действуйте согласно дальнейшим инструкциям
            </p>
            <p ng-if="my.model.locations.length">
                Для администрирования мест расположения нажмите на кнопку ниже
            </p>
            <div>
                <a class="btn btn-primary" href="/c/{{my.model.company.id}}/settings/locations" role="button">
                    Перейти к администрированию мест расположения
                    <span class="badge" ng-if="my.model.locations.length">{{my.model.locations.length}}</span>
                </a>
            </div>
        </p>
        <!-- Переговорные -->
        <p>
            <h2>Переговорные</h2>
            <p ng-if="!my.model.spaces.length" class="alert alert-warning">
                <strong>Обратите внимание!</strong> Для вашей компании не заведено ни одной переговорной
            </p>
            <p ng-if="!my.model.spaces.length">
                Для того, чтобы начать пользоваться бронированием, необходимо создать хотя бы одну переговорную. Нажмите на кнопку ниже и
                действуйте согласно дальнейшим инструкциям
            </p>
            <p ng-if="my.model.spaces.length">
                Для администрирования переговорных нажмите на кнопку ниже
            </p>
            <div>
                <a class="btn btn-primary" href="/c/{{my.model.company.id}}/settings/spaces" role="button">
                    Перейти к администрированию переговорных
                    <span class="badge" ng-if="my.model.spaces.length">{{my.model.spaces.length}}</span>
                </a>
            </div>
        </p>
        <!-- Удаление компании -->
        <p>
            <h2>Удаление компании</h2>
            <p class="alert alert-danger">
                <strong>ВНИМАНИЕ!</strong><br /> После вашего подтверждения мы не сможем отменить эту операцию! Все ваши
                данные будут удалены безвозвратно
            </p>
            <div>
                <a class="btn btn-danger" href="#" role="button" ng-click="my.deleteCompany()">
                    Удалить компанию безвозвратно
                </a>
            </div>
        </p>
    </div>
</div>