<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Наименование:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
        <div class="form-group" ng-if="!my.item.id">
            <label class="control-label col-sm-4">ПИН-код:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="my.item.pin" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id">Отвязать</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name" ng-if="my.item.id">Сохранить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name || !my.item.pin" ng-if="!my.item.id">Активировать</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>