<c-header></c-header>
<div class="ext-page-create-company">
    <form ng-submit="my.create()">
        <h2>Создание новой компании</h2>
        <div>
            <input type="text" class="form-control" ng-model="my.model.name" placeholder="Наименование Вашей компании" autofocus required/>
        </div>
        <div>
            <button class="btn btn-primary" ng-disabled="!my.model.name">Создать компанию</button>
        </div>
    </form>
</div>