<div class="modal-header">
    <h3 class="modal-title">Выберите местоположение</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Организация:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-options="item.id as item.name for item in my.model.organizations" ng-model="my.model.organizationId"
                    ng-change="my.changeOrganization(my.model.organizationId)" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Местоположение:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-options="item.id as item.name for item in my.model.locations" ng-model="my.model.locationId"
                    required></select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.model.locationId">Выбрать</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>