<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Наименование:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Временная зона:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-options="item.code as ('(' + item.offset + ') ' + item.code) for item in my.timezones"
                    ng-model="my.item.timezoneId" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Адрес:</label>
            <div class="col-sm-9">
                <textarea class="form-control" ng-model="my.item.address" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Описание:</label>
            <div class="col-sm-9">
                <textarea class="form-control" ng-model="my.item.description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">E-mail для обслуживания:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.serviceEmail" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name || !my.item.timezoneId">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>