<div class="login-cnt">
    <div>
        <div>
            <form class="login" ng-submit="my.login()">
                <div class="logo">Auro Room</div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="my.model.login" placeholder="Логин" autofocus required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="my.model.password" placeholder="Пароль" required>
                </div>
                <div class="button-cnt">
                    <button type="submit" class="btn btn-default"><i class="fa fa-sign-in"></i> Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>