<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Наименование:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name">OK</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>