<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>
            Ресурсы
            <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                Добавить
            </button>
        </h1>
        <p ng-if="!my.model.resources.length">
            Для вашей компании не заведен ни один ресурс. Вы можете завести список доступных ресурсов (например, чай и кофе, питьевая
            вода). Для добавления ресурса нажмите на кнопку "Добавить" выше
        </p>
        <table class="table" ng-if="my.model.resources.length">
            <thead>
                <tr>
                    <th></th>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.resources track by $index">
                    <td style="width: 60px">
                        <img ng-src="{{x.imageUrl}}" style="width: 80px; height: auto" ng-if="x.imageUrl" />
                    </td>
                    <td>{{x.name}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>