<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Заказ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0px; padding: 0px;">
    <p>Офис: <span th:text="${locationName}">название</span></p>
    <p>Переговорная: <span th:text="${spaceName}">название</span></p>
    <p>Время встречи: <span th:text="${#dates.format(eventStart,'yyyy-MM-dd hh:mm')}">2017-03-32 18:72</span></p>
    <p>Тема встречи: <span th:if="!${private}" th:text="${eventTitle}">тема</span></p>
    <p>Организатор встречи: <span th:text="${organizerName}">Организатор</span> &lt;<span th:text="${organizerMail}">organizer@mail.com</span>&gt;</p>
    <p>Заказ:</p>
    <ol>
        <li th:each="order : ${orders}" th:utext="${order}">
        </li>
    </ol>
</body>
</html>