<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h2>Пользователь: {{my.model.user.fullName}}</h2>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Логин:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="my.model.user.login" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">E-mail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="my.model.user.email" readonly />
                </div>
            </div>
        </div>

        <h3>Изображение</h3>
        <div class="item-image">
            <div ng-if="!!my.model.user.imageUrl">
                <img ng-src="{{my.model.user.imageUrl}}" alt="Фото пользователя" style="width: 400px;"></img>
            </div>
            <div ng-if="!my.model.user.imageUrl" class="image-placeholder">Изображение отсутствует</div>
            <div class="image-buttons">
                <button class="btn btn-primary" ng-if="!my.model.user.imageUrl" ng-click="my.imageAdd()">Добавить изображение</button>
                <button class="btn btn-primary" ng-if="my.model.user.imageUrl" ng-click="my.imageAdd()">Заменить изображение</button>
                <button class="btn btn-danger" ng-if="my.model.user.imageUrl" ng-click="my.imageRemove()">Удалить изображение</button>
            </div>
        </div>

        <h3>
            Роли
            <div class="dropdown pull-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Добавить роль
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-if="my.model.showAddAdmin"><a href="#" ng-click="my.addRoleAdmin()">Администратор</a></li>
                    <li><a href="#" ng-click="my.addRoleOfficeManager()">Офис-менеджер</a></li>
                </ul>
            </div>
        </h3>
        <p ng-if="!my.model.roles.length">
            Для данного пользователя не заданы роли
        </p>
        <table class="table" ng-if="my.model.roles.length">
            <thead>
                <tr>
                    <th>Роль</th>
                    <th>Местоположение</th>
                    <th>Организация</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.roles">
                    <td ng-if="x.role==='admin'">Администратор</td>
                    <td ng-if="x.role==='office manager'">Офис-менеджер</td>
                    <td>{{my.getLoc(x).name}}</td>
                    <td>{{my.getOrg(x).name}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.deleteRole(x)">
                            <i class="fa fa-delete"></i> Удалить
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>