<c-header></c-header>
<div class="ext-page-spaces">
    <form class="filter" ng-submit="my.search()">
        <div class="filter-main clearfix">
            <h5>Переговорные</h5>
            <div class="filter-field filter-date clearfix">
                <label class="fld-label">Дата</label>
                <p class="input-group">
                    <input type="text" class="filter-input" uib-datepicker-popup="dd.MM.yyyy" ng-model="my.model.filter.date" is-open="my.model.state.isDateOpened">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default date-button" ng-click="my.model.state.isDateOpened=true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="filter-field filter-time" uib-dropdown on-toggle="my.setTimes(open, my.model.filter.date)">
                <label class="fld-label">Начало встречи</label>
                <input type="text" class="filter-input" ng-model="my.model.filter.time" uib-dropdown-toggle to-time />
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="max-height: 200px; overflow-y: auto">
                    <li ng-repeat="x in my.model.times" scroll-to="x.scrollTo">
                        <a href ng-click="my.model.filter.time = x.value; my.search()">{{x.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="filter-field filter-duration">
                <label class="fld-label">Продолжительность</label>
                <select class="filter-input" ng-options="item.value as item.label for item in my.model.duration" ng-model="my.model.filter.duration"
                    ng-change="my.search()"></select>
            </div>
            <div class="filter-field filter-capacity" uib-dropdown>
                <label class="fld-label">Вместимость не менее, человек</label>
                <input type="text" class="filter-input" ng-model="my.model.filter.capacity" uib-dropdown-toggle to-number />
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li ng-repeat="x in my.model.capacities"><a href ng-click="my.model.filter.capacity = x; my.search()">{{x}} человек</a></li>
                </ul>
            </div>
            <div class="filter-field filter-btn-search">
                <button class="btn btn-primary btn-search" ng-disabled="!my.model.filter.date || !my.model.filter.time || !my.model.filter.duration">Подобрать переговорную</button>
            </div>
        </div>
        <div class="filter-ex clearfix">
            <div class="filter-field filter-location">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        Местоположение
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="x in my.model.locations"><a href="#" ng-click="my.addFilterByLocation(x)">{{x.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="filter-field filter-space-type">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        Тип
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="x in my.model.spaceTypes"><a href="#" ng-click="my.addFilterBySpaceType(x)">{{x.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="filter-field filter-clear" ng-if="my.model.tags.length">
                <a href="#" ng-click="my.clearFilter()">Очистить фильтр</a>
            </div>
        </div>
    </form>

    <div class="result-list">
        <div class="filter-tags clearfix" ng-if="my.model.tags.length">
            <hr class="hr-title" data-text="Фильтры" />
            <i class="fa fa-tags" aria-hidden="true"></i>
            <div class="filter-tag" ng-repeat="x in my.model.tags | orderBy:['type', 'name']">
                <span>{{x.name}}</span>
                <button type="button" ng-click="my.removeFilter(x)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <hr />
        </div>

        <div class="no-data" ng-if="my.model.isSearched && !my.model.spaces.length">
            Не удалось подобрать переговорную по заданным критериям
        </div>
        <div class="no-data" ng-if="!my.model.isSearched">
            Укажите критерии и нажите на кнопку "Подобрать"
        </div>

        <div class="live-search" ng-show="my.model.spaces.length">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="form-control" ng-model="search.name" placeholder="Отфильтровать переговорные по наименованию" />
        </div>

        <div class="result-item clearfix" ng-repeat="x in my.model.spaces | filter:search:strict">
            <div class="space-image" style="background-image: url({{x.imageUrl}});" ng-if="x.imageUrl"></div>
            <div class="image-placeholder" ng-if="!x.imageUrl">Нет изображения</div>
            <div class="result-item-boot-btn">
                <button class="btn btn-default" ng-click="my.bookSpace(x)">Забронировать</button>
            </div>
            <div class="description">
                <h4>{{x.name}}</h4>
                <p>
                    <span>Расположение: {{my.model.dict.locations[x.locationId].name}}</span>
                    <span>Вместимость: {{x.capacity}} чел.</span>
                    <span ng-if="x.spaceTypeId">Тип: {{my.model.dict.spaceTypes[x.spaceTypeId].name}}</span>
                </p>
                <p>
                    <span>{{my.model.dict.locations[x.locationId].address}}</span>
                </p>
            </div>
        </div>
    </div>
</div>