<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Наименование:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Код:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="my.item.code" required />
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 99%">
                        <h4>Атрибуты ресурса</h4>
                    </th>
                    <th><button class="btn btn-primary pull-right" ng-click="my.addItem()">Добавить атрибут</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.item.attributes">
                    <td>{{x.name}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="!my.item.attributes.length" class="no-data">
            Для данного ресурса не указано ни одного атрибута
        </div>
        <h4>Изображение ресурса</h4>
        <div class="item-image">
            <div ng-if="(!my.deleteFile || !my.item.imageUrl) && !my.file">
                <div ng-if="!!my.item.imageUrl">
                    <img ng-src="{{my.item.imageUrl}}" alt="Фото ресурса" style="width: 200px; margin: 0 auto; display: block"></img>
                </div>
                <div ng-if="!my.item.imageUrl" class="image-placeholder">Изображение отсутствует</div>
            </div>
            <div ng-if="(my.deleteFile && my.item.imageUrl) || my.file" class="image-placeholder">Нажмите кнопку "Сохранить"</div>
            <div class="image-buttons">
                <button class="btn btn-primary" ng-if="(!my.item.imageUrl && !my.file) || my.deleteFile" ng-click="my.imageAdd()">Добавить изображение</button>
                <button class="btn btn-primary" ng-if="(my.item.imageUrl || my.file) && !my.deleteFile" ng-click="my.imageAdd()">Заменить изображение</button>
                <button class="btn btn-default" ng-if="(my.item.imageUrl || my.file) && !my.deleteFile" ng-click="my.imageRemove()">Удалить изображение</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name || !my.item.code">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>