<div class="modal-header">
    <h3 class="modal-title">{{my.title}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Расположение:</label>
            <div class="col-sm-8">
                <select class="form-control" ng-options="item.id as item.name for item in my.ref.locations" ng-model="my.item.locationId"
                    required ng-disabled="!!my.item.id"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Наименование:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="my.item.name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Вместимость, человек:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" ng-model="my.item.capacity">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Размер:</label>
            <div class="col-sm-8">
                <select class="form-control" ng-options="item.code as item.name for item in my.ref.sizes" ng-model="my.item.discoveryRadius"
                    required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Тип:</label>
            <div class="col-sm-8">
                <select class="form-control" ng-options="item.id as item.name for item in my.ref.spaceTypes" ng-model="my.item.spaceTypeId"
                    required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Заблокирована:</label>
            <div class="col-sm-8">
                <label class="material-switch">
                <input type="checkbox" ng-model="my.item.isDisabled" /><i class="label-danger"></i>
            </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Примечания:</label>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="my.item.description" rows="10" required></textarea>
            </div>
        </div>
        <hr>
        <h4>Интеграция с MS Exchange</h4>
        <div class="form-group">
            <label class="control-label col-sm-4">E-mail переговорной:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="my.item.exchangeIntegrationEmail" required />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="my.delete()" ng-if="my.item.id">Удалить</button>
    <button class="btn btn-primary" type="button" ng-click="my.ok()" ng-disabled="!my.item.name">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="my.cancel()">Отмена</button>
</div>