<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>
            Типы пространств
            <button type="button" class="btn btn-primary pull-right" ng-click="my.addItem()">
                <i class="fa fa-plus-square-o"></i>
                Добавить
            </button>
        </h1>
        <p ng-if="!my.model.spaceTypes.length">
            Не заведено ни одного типа пространства. Для добавления типа пространства нажмите на кнопку "Добавить" выше
        </p>
        <table class="table" ng-if="my.model.spaceTypes.length">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.spaceTypes">
                    <td>{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td>
                        <a href="#" class="pull-right" ng-click="my.editItem(x)">
                            <i class="fa fa-edit"></i> Править
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>