<!DOCTYPE html>
<html ng-app="s4m-web">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <base href="/" />
</head>

<body>
  <div ng-view></div>
</body>

</html>
