<c-header></c-header>
<div>
    <c-settings-nav></c-settings-nav>
    <div>
        <h1>{{my.model.location.name}}</h1>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">Описание:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="my.model.location.description" rows="3" readonly></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Адрес:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="my.model.location.address" rows="2" readonly></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">E-mail для обслуживания:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="my.model.location.serviceEmail" readonly />
                </div>
            </div>
        </div>

        <h3>Переговорные в этом офисе</h3>
        <p ng-if="!my.model.spaces.length">
            Для данного места расположения не заведено ни одной переговорной. Для добавления переговорной нажмите на кнопку ниже и действуйте
            согласно дальнейшим инструкциям<br />
            <a class="btn btn-primary" href="/c/{{my.model.company.id}}/settings/spaces" role="button">Перейти к администрированию переговорных</a>
        </p>
        <table class="table" ng-if="my.model.spaces.length">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Вместимость</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in my.model.spaces">
                    <td>
                        <a href="/c/{{my.model.company.id}}/settings/spaces/{{x.id}}">{{x.name}}</a>
                    </td>
                    <td>
                        {{x.capacity}} чел.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>