<div class="event-popover">
    <div ng-if="event.title" class="event-popover-title">{{event.title}}</div>
    <div class="event-popover-time">{{event.originalEvent.start | date:'dd.MM.yyyy в HH:mm'}}</div>
    <div class="event-popover-space">{{event.spaceName}}</div>
</div>